@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        @apply bg-white min-h-screen;
        /* Corrected from bg-white-600 to bg-white */
    }
    h1,
    h2 {
        @apply text-xl font-medium tracking-tight text-gray-900;
        /* Use a valid text color */
    }
    button {
        @apply w-full shadow-sm text-indigo-700 px-4 py-2 font-medium tracking-tight rounded-xl transition duration-200 ease-in-out;
    }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
}

@layer base {
  input,
  select,
  textarea {
    @apply border border-slate-200 rounded-xl p-2;
  }

  label {
    @apply block mb-2 text-slate-500 font-medium;
  }
}

.fontsize {
  font-size: x-large;
  font: bold;
}

.fontsize2 {
  font-size: large;
  font: bold;
}

/* kotak padding */
.profile-page {
  display: flex;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (max-width: 990px) {
  .profile-page {
    padding-top: 0;
  }
}
.profile-page .content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  margin: auto;
  padding: 2rem;
  background:#DDF0F3;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(93, 50, 59, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.profile-page2 {
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.profile-page2 .content {
  max-width: 800px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  margin: auto;
  padding: 2rem;
  background:#DDF0F3;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(93, 50, 59, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

@media (max-width: 990px) {
  .profile-page .content {
    max-width: 420px;
    padding: 0;
    border-radius: 0;
    margin: auto;
    padding: 2rem;
    background: #fff;
    border-radius: 20px;
  }
}

/* membuat foto profil diatas */
.profile-page .content__cover {
  position: relative;
}

/* profile picture */
.profile-page .content__avatar {
  width: 12rem;
  height: 12rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 50%);
  background: #8f6ed5
    url("https://cdn.pixabay.com/photo/2023/01/26/22/28/ai-generated-7747343_1280.jpg")
    center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

@media (max-width: 990px) {
  .profile-page .content__avatar {
    width: 11rem;
    height: 11rem;
    border: 0.3rem solid #fff;
    box-shadow: none;
  }
}

/* background */
.profile-page .bg {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* 
.profile-page .bg div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  background-color: #DDF0F3;
  
} */
